# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Exclude config-files
**.ini

# Project specific
**.DS_Store

# Exclude output and archive
archive/
output/

# Exclude old network model
src/models/network_old.py

# Local test file
src/predict_and_align.py

cross_validation_folds.txt
create_cross_validation_list.py
data_fold.py
