# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Exclude config-files
**.ini

# Project specific
**.DS_Store

# Exclude output and archive
archive/
output/

# Exclude old network model
src/models/network_old.py

